$light: #FFFFFF;
$text-color: #333333;
$dark: #000000;

$primary-100: #EFF6EF;
$primary-200: #CEE6CE;
$primary-300: #93CF93;
$primary-400: #6AAE6A;
$primary-500: #4C994C;
$primary-600: #2C7D2C;
$primary-700: #156015;
$primary-800: #034003;
$primary-900: #002500;

$gray-100: #EAEAEA;
$gray-200: #DFDFDF;
$gray-300: #D0D0D0;
$gray-400: #B0B0B0;
$gray-500: #8B8B8B;
$gray-600: #6C6C6C;
$gray-700: #4D4D4D;
$gray-800: #2E2E2E;
$gray-900: #1E1E1E;

$warning-500: #FF9C22;

$danger-500: #CE3232;
