.grid--space_4 {
  display: grid;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.grid--space_6 {
  display: grid;
  grid-column-gap: var(--space-6);
  grid-row-gap: var(--space-6);
}
