.layout {
  position: relative;
  min-width: $wm;
  max-width: $wt;
  height: $height--layout;

  margin: var(--space-4) auto;
  padding: var(--space-4);

  box-shadow:
    0 8px 16px rgba(76, 153, 76, 0.12),
    0 -8px 16px rgba(76, 153, 76, 0.12);

  overflow: hidden;
}

.layout__title {
  height: $height--layout__title;
  padding: 0 var(--space-4) var(--space-4);

  color: var(--primary-500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  border-bottom: 2px solid var(--primary-500);
}

.layout__content {
  position: relative;
  height: $height--layout__content;

  padding-top: var(--space-4);
  padding-left: var(--space-4);

  overflow-x: hidden;
  overflow-y: scroll;
}

.layout__content--firefox {
  padding-right: var(--space-2);
}

.layout__content--notFirefox {
  padding-right: var(--space-3);
}

.layout__content--notScrollbar {
  padding-right: var(--space-4);
}


@media (min-width: $wt) {
  .layout {
    max-width: $wt;
  }
}

@media (min-width: $wd) {
  .layout {
    max-width: $wd;
  }
}
