$module: 8px;

$wm: 360px;
$wt: 768px;
$wd: 1280px;

$font-main: "Open Sans", "Arial", sans-serif;

$fs-base: 0.875rem;
$fs-sm: 0.75rem;
$fs-md: 1rem;

$lh-base: 1.25rem;
$lh-sm: 0.875rem;
$lh-md: 1.5rem;

$transition-time-base: 300ms;
