$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.5rem;
$space-6: 2rem;

$border--radius__base: 4px;

$width--content__scrollbar: 4px;
$width--character: 18.5rem;
$width--character__image: 9rem;
$width--character__description--title: 3.5rem;
$width--icon: 1.5rem;
$width--page: 3rem;

// Высота с учетом отступов
$height--layout: calc(100vh - (var(--space-4) * 2));

// Высота заголовка представления
$height--layout__title: 2.25rem;

// Высота области пагинации
$height--pagination: 1.5rem;

// Высота контента представления с учетом общей высоты, заголовка и отступов
$height--layout__content--notPagination: calc(100vh - 2.25rem - (var(--space-4) * 4));

// Высота контента представления с учетом общей высоты, заголовка отступов и пагинации
$height--layout__content--pagination: calc(100vh - 2.25rem - 2.5rem - (var(--space-4) * 4));
